.appbarcss{
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.layout-background{
    background: #BBD2C5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.banner-text {
    background: #f3f7ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 60% ;
    border-radius: 30px;
    margin: auto;
    margin-top: 1em;
}

.banner-text h1 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #11FFBD;
}

.banner-text p{
    text-align: center;
    color: #11FFBD;
    font-weight: bold;
    font-size: 20px;
    margin-top: 1em;
}

.banner-text hr {
    margin: auto;
    margin-top: 0.1em;
    font-weight: bold;
    border-top: 1px dashed#bdc3c7;
    width: 50%;
}

* {
    box-sizing: border-box;
}

.container {
    position: relative;
    margin: auto;
    max-width: 300px;
    max-height: 300px;
  }

  
  .image {
    width: 75%;
    border-radius: 50%;
    height: auto;
  }
  

  .home-icons{
    color: cyan;
    margin: auto;
    text-align: center;
    padding: 1em;
  }
  
  .home-icons span{
    color: white;
    font-size:  300%;
    padding: 25px; 
  }

  .home-icons a:hover{
    color: #D8BFD8;
    font-size: 160%;
  }

  .home-grid{
      top: 0;
      left: 0;
      position: relative;
      height: 100%;
      width: 100%;
      text-align: center;
  }

  .overlay {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: max-content;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    margin-top: 80%;
  }


.contact-main{
  width: 100%;
  position: fixed;
  height: 100%;
  padding: 2em;
}

.contact-grid{
  background-color: wheat;
  width: 80%;
  height: 80%;
  padding: 2em;
}

.contact-grid img{
  border-radius: 2em;
  box-shadow: #243B55;
}

.contact-grid table{
  padding: 1em;
  font-size: 30px;
  text-align: center;
  justify-content: center;
}

.contact-cell1{
  text-align: center;
}

.contact-cell2{
  text-align: center;
}

.contact-cell1 p{
  text-align: center;
  padding: 2em;
  text-align: center;

}


